# This file contains pin mappings for the Creality "v4.2.7" board. To
# use this config, during "make menuconfig" select the STM32F103 with
# a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PB9
dir_pin: !PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 220
homing_speed: 80

[stepper_y]
step_pin: PB7
dir_pin: !PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 220
homing_speed: 80

[stepper_z]
step_pin: PB5
dir_pin: PB6
enable_pin: !PC3
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 300
#position_endstop: 2.0

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PC3
microsteps: 16
rotation_distance: 32.342
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_kp: 24.831
pid_ki: 1.346
pid_kd: 114.532
min_temp: 0
max_temp: 260

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_kp: 66.429
pid_ki: 1.197
pid_kd: 921.707
min_temp: 0
max_temp: 135

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[display_status]

[pause_resume]

[bltouch]        // This offset is more or less fine but not dialed in. Figuring out the pinout for this with the 4.2.7 board and connecting through the included display adapter took a lot of digging.
sensor_pin: PA7
#z_offset: 2.05
control_pin: PC6
stow_on_each_sample: True
pin_up_touch_mode_reports_triggered: False
probe_with_touch_mode: True
x_offset: 48
y_offset: -10

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 80, 10
mesh_max: 220, 190
probe_count: 4,4
speed: 120
algorithm = bicubic

[safe_z_home]            // This is the safe home I use with my HERO v7 cooler and the BLTouch mounted to the standard right wing. SIDENOTE: The mount I used can potentially interfere with certain front cross bar relocators so I would recommend double checking compatibility.
home_xy_position: 100,10
speed: 80
z_hop: 10
z_hop_speed: 5

[display]               // This will work with the normal display.
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

// These are included to make it more likely that Marlin firmware will work with Klipper. It essentially just takes some extraneous Marlin commands and sinkholes them so that they don't crash the print.
[gcode_macro m205]
gcode:

[gcode_macro m203]
gcode:

[gcode_macro m201]
gcode:

[gcode_macro m877]  // This is a macro to print a test line and can be useful for testing bed squish, levelness, etc. Note: heater settings not included.
gcode:
  M107 ;turn off fan
  M106 S128
  G28 ;Home
  G92 E0 ;Reset Extruder
  G1 Z2.0 F3000 ;Move Z Axis up
  G1 X10.1 Y20 Z0.28 F5000.0 ;Move to start position
  G1 X10.1 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
  G1 X10.4 Y200.0 Z0.28 F5000.0 ;Move to side a little
  G1 X10.4 Y20 Z0.28 F1500.0 E30 ;Draw the second line
  G92 E0 ;Reset Extruder
  G1 Z2.0 F3000 ;Move Z Axis up
  G28 ;Home
